body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#fefefe;
  
}
.box1{
  padding-top: 7rem;
  min-height: 60vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  
  --body:#F2F2F2;
  --navbar:#00337C;
  --header:#00337C;
  --Primary: #F9ED69;
  --Seconday: #F08A5D;
  --buttons:#F9ED69;
  --section:#6A2C70;
}
a{
  text-decoration: none;
  color: black;
}